{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-heading">
                        <b>User</b>
                    </li>
                    {% for user in users %}
                        <li class="list-group-item">
                            {{ user.username }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
