$main-background: #eeeeee;
$white: #ffffff;
$black: #000000;
$gray: #b7b7b7;
$light-gray: #e7e7e7;

$primary-dark: #44648F;
$primary-light: #4C6E99;

// customize some Bootstrap variables
$brand-primary: darken(#428bca, 20%);

.white {
  color: #FFFFFF;
}
